@page "/"
//@using Microsoft.AspNetCore.SignalR.Client;
@inject HttpClient Http

@foreach(var message in messages)
{
    <p>@message.Item1 : @message.Item2</p>
}

<MudButton OnClick="SendMessageToServer">Send</MudButton>